---
import BlockRendererInner from "./BlockRenderer.astro";
import Button from "./Button.astro";
import Heading from "./Heading.astro";
import Paragraph from "./Paragraph.astro";
import Cover from "./Cover.astro";
import ListItem from "./ListItem.astro";
import ArticleSearch from "./ArticleSearch.astro";
import VideoEmbed from "./VideoEmbed.astro";
import { getBlockStyling } from "@wp-block-tools/styles";
import type { Block } from "@wp-block-tools/styles";
import { Image } from "astro:assets";
import LatestPosts from "./LatestPosts.astro";

type Props = {
  postId: number;
  blocks: Block[];
};

const { postId, blocks } = Astro.props;
---

{
  blocks.map((block) => {
    const { styles, classes } = getBlockStyling(block);

    switch (block.name) {
      case "core/latest-posts":
        return (
          <div style={styles} class={classes}>
            <LatestPosts
              postsToShow={block.attributes?.postsToShow || 2}
              displayPostContent={block.attributes?.displayPostContent || true}
              excerptLength={block.attributes?.excerptLength || 30}
              displayPostDate={block.attributes?.displayPostDate || true}
              postLayout={block.attributes?.postLayout || ""}
              displayFeaturedImage={
                block.attributes?.displayFeaturedImage || ""
              }
              featuredImageAlign={block.attributes?.featuredImageAlign || ""}
              featuredImageSizeSlug={
                block.attributes?.featuredImageSizeSlug || ""
              }
              textColor={block.attributes?.textColor || ""}
            />
          </div>
        );

      case "core/embed":
        return (
          <VideoEmbed
            url={block.attributes?.url}
            classes={classes}
            styles={styles}
          />
        );
      case "astro/article-search":
        return <ArticleSearch />;
      case "core/gallery":
        return (
          <div style={styles} class={classes}>
            {(block.innerBlocks || []).map((innerBlock) => (
              <div>
                <BlockRendererInner postId={postId} blocks={[innerBlock]} />
              </div>
            ))}
          </div>
        );
      case "core/image":
        return (
          <Image
            src={block.attributes?.url}
            height={block.attributes?.height}
            width={block.attributes?.width}
            class={classes}
            style={styles}
            alt={block.attributes?.alt || ""}
          />
        );

      case "core/button":
        return (
          <Button
            classes={classes}
            styles={styles}
            url={block.attributes?.url}
            content={block.attributes?.content || ""}
          />
        );
      case "core/post-title":
      case "core/heading":
        return (
          <Heading
            transitionName={
              block.name === "core/post-title" ? `post-title-${postId}` : ""
            }
            level={block.attributes?.level || 2}
            classes={classes}
            styles={styles}
            content={block.attributes?.content || ""}
          />
        );
      case "core/cover":
        return (
          <Cover
            classes={classes}
            styles={styles}
            url={block.attributes?.url}
            height={block.attributes?.height}
            width={block.attributes?.width}
            dimRatio={block.attributes?.dimRatio}
            overlayColor={block.attributes?.overlayColor}
            customOverlayColor={block.attributes?.customOverlayColor}
            minHeight={block.attributes?.minHeight}
            minHeightUnit={block.attributes?.minHeightUnit}
          >
            <BlockRendererInner
              postId={postId}
              blocks={block.innerBlocks || []}
            />
          </Cover>
        );
      case "core/paragraph":
        return (
          <Paragraph
            classes={classes}
            styles={styles}
            content={block.attributes?.content}
          />
        );
      case "core/columns":
      case "core/column":
      case "core/post-content":
      case "core/group":
      case "core/buttons":
        return (
          <div style={styles} class={classes}>
            <BlockRendererInner
              postId={postId}
              blocks={block.innerBlocks || []}
            />
          </div>
        );
      case "core/list":
        return (
          <ul style={styles} class={classes}>
            <BlockRendererInner
              postId={postId}
              blocks={block.innerBlocks || []}
            />
          </ul>
        );
      case "core/list-item":
        return (
          <ListItem
            classes={classes}
            styles={styles}
            content={block.attributes?.content}
          />
        );

      default:
        return null;
    }
  })
}
