---
import { joinClasses } from "../utils/joinClasses";
import HeaderInner from "./Header.astro";

import { getBlockStyling, type Block } from "@wp-block-tools/styles";

import { Image } from "astro:assets";
import Navigation from "./Navigation.astro";
import NavigationLink from "./NavigationLink.astro";
import NavigationSubmenu from "./NavigationSubmenu.astro";
import NavigationSubLink from "./NavigationSubLink.astro";

type Props = {
  blocks: Block[];
};

const { blocks } = Astro.props;
const homeUrl = Astro.url.origin;
---

{
  blocks.map((block) => {
    const { styles, classes } = getBlockStyling(block);

    switch (block.name) {
      case "core/image":
        return (
          <Image
            src={block.attributes?.url}
            height={block.attributes?.height}
            width={block.attributes?.width}
            class={classes}
            style={styles}
            alt={block.attributes?.alt || ""}
          />
        );
      case "core/navigation-submenu":
        return (
          <NavigationSubmenu
            classes={classes}
            styles={styles}
            label={block.attributes?.label || ""}
            url={block.attributes?.url || ""}
          >
            {block.innerBlocks?.map((link) => (
              <NavigationSubLink
                classes={classes}
                styles={styles}
                label={link.attributes?.label || ""}
                url={link.attributes?.url || ""}
              />
            ))}
          </NavigationSubmenu>
        );
      case "core/navigation-link":
        return (
          <NavigationLink
            classes={classes}
            styles={styles}
            label={block.attributes?.label || ""}
            url={block.attributes?.url || ""}
          />
        );
      case "core/navigation":
        return (
          <Navigation classes={classes} styles={styles}>
            <HeaderInner blocks={block.innerBlocks || []} />
          </Navigation>
        );
      case "core/group":
        const headerClasses = joinClasses("!fixed w-full", classes);
        const TagName = block.attributes?.tagName || "div";
        return (
          <TagName style={styles} class={headerClasses}>
            <HeaderInner blocks={block.innerBlocks || []} />
          </TagName>
        );
      case "core/site-logo":
        return (
          <div style={styles} class={classes}>
            <a class="image-footer" href={homeUrl} title="Vers l'accueil">
              <Image
                height={block.attributes?.height || 120}
                width={block.attributes?.width || 120}
                src={block.attributes?.url || ""}
                alt=""
              />
            </a>
          </div>
        );
      case "core/template-part":
        if (block.attributes?.slug === "common-header") {
          return <HeaderInner blocks={block.innerBlocks || []} />;
        }

      default:
        return null;
    }
  })
}
