---
import { replaceUrls } from "../utils/replaceUrls";
import { joinClasses } from "../utils/joinClasses";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faChevronDown } from "@fortawesome/free-solid-svg-icons";
type Props = {
  styles: string;
  classes: string;
  label: string;
  url: string;
};
const { styles, classes, label, url } = Astro.props;
const allClasses = joinClasses(classes, "group relative flex justify-center");
const href = replaceUrls(url, Astro.url.host);
---

<li class={allClasses} style={styles}>
  <a href={href} class="block w-full py-3 sm:py-0 px-4">
    {label}
    <FontAwesomeIcon className="text-xs pl-1" icon={faChevronDown} />
  </a>
  <ul
    class="z-20 sm:hidden sm:group-hover:block textbg sm:absolute sm:top-full sm:text-center whitespace-nowrap py-2 shadow-lg rounded-bl-xl rounded-br-xl"
  >
    <slot />
  </ul>
</li>
